body {
    background-color: #270e57;
}

.container {
    max-width: 600px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.form-group label {
    font-weight: bold;
}

.text-center {
    text-align: center;
}

.alert {
    margin-top: 10px;
}

.btn-primary {
    margin-top: 10px;
}

.btn-secondary {
    margin-top: 10px;
    text-decoration: none;
}
